In [1]:
print ("hello world")

hello world

In [2]:
name= 'Pooja'
print('hello' + name)

helloPooja

In [3]:
print('hello ' name)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2301228810.py, line 1)

In [4]:
print ('hello'+ name +'!')

helloPooja!

In [5]:
firstname='Pooja'
lastname='Parihar'
print('Hello '+firstname + ''+ lastname+' .You are awesome' )

Hello PoojaParihar .You are awesome

In [6]:
x=50
y=70
print(x+y)

120

In [7]:
firstname='Pooja'
lastname='Parihar'
print('Hello '+firstname + ' '+ lastname+' .You are awesome' )

Hello Pooja Parihar .You are awesome

In [8]:
firstname='Pooja'
lastname='Parihar'
print('Hello '+firstname + ''+ lastname+' .You are awesome :)' )

Hello PoojaParihar .You are awesome :)

In [9]:
firstname='Pooja'
lastname='Parihar'
print('Hello '+firstname + ''+ lastname+'. You are awesome' )

Hello PoojaParihar. You are awesome

In [10]:
firstname='Pooja'
lastname='Parihar'
print('Hello '+firstname + ''+ lastname+'. You are awesome :)' )

Hello PoojaParihar. You are awesome :)

In [11]:
num=input('enter a number')
print(num)

enter a number90
90

In [12]:
num=input('enter a number')
print(num+'10')

enter a number90
9010

In [13]:
num=input('enter a number')
print(num +10)

enter a number90

TypeError: can only concatenate str (not "int") to str