In [1]:
print ('hello, world')

hello, world

In [2]:
print (2+3)

5

In [3]:
print (2345768*7)

16420376

In [4]:
name = Rahul

NameError: name 'Rahul' is not defined

In [6]:
print ('hello, name')

hello, name

NameError: name 'Rahul' is not defined

In [23]:
first_name = 'Rahul'
last_name = 'Dhuharia'

print ('Howdy, ' + first_name + ' ' + last_name + '!')

Howdy, Rahul Dhuharia!

In [21]:
x = 50
y = 30
print (x + y)

80

In [26]:
name = input ("what's your name: ")
print (name)

what's your name: Rahul
Rahul

In [29]:
name = input ('enter your name')

if  == 'Rahul':
    print ('Hello, boss!')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2035661904.py, line 4)

In [ ]:
word1 = inout ()