In [1]:
print ('hello, world')

hello, world

In [2]:
print (2+3)

5

In [3]:
print (2345768*7)

16420376

In [4]:
name = Rahul

NameError: name 'Rahul' is not defined

In [6]:
print ('hello, name')

hello, name

NameError: name 'Rahul' is not defined

In [23]:
first_name = 'Rahul'
last_name = 'Dhuharia'

print ('Howdy, ' + first_name + ' ' + last_name + '!')

Howdy, Rahul Dhuharia!

In [21]:
x = 50
y = 30
print (x + y)

80

In [26]:
name = input ("what's your name: ")
print (name)

what's your name: Rahul
Rahul

In [29]:
name = input ('enter your name')

if  == 'Rahul':
    print ('Hello, boss!')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2035661904.py, line 4)

In [32]:
word1 = input ('Enter first word: ')
word2 = input ('Enter second word: ')

if word1 < word2:
    print (word1 +  ' comes before ' + word2)
else:
    print (word2 + ' comes before ' + word1)

Enter first word: apple
Enter second word: banana
apple comes before banana

In [34]:
# f srting 

word1 = input ('Enter first word: ')
word2 = input ('Enter second word: ')

if word1 < word2:
    print (f' {word1} comes before {word2}')
else:
    print (f' {word2} comes before {word1}')

Enter first word: apple
Enter second word: banana
 apple comes before banana

In [36]:
# **The 'elif' Clause**

In [37]:
# ** Exercise: Name and Company

1. Assign two variables, `my_name` and `my_company`, to strings representing your name and company.
2. Ask the user to enter their name, and assign to `name`.
3. Ask the user to enter their company, and assign to `company`.
4. Compare their values with yours:
    - If the names and companies match, say "you must be me"
    - If the name matches and the company doesn't, then say, "Great name, terrible company"
    - If the company matches and the name doesn't, then say, "You must be my colleague"
    - If neither matches, then say, "Bad name and bad company."

SyntaxError: unterminated string literal (detected at line 8) (2259875711.py, line 8)

In [ ]:
name = input ('what is your name: ')
companr = input ('what is your name: ')