In [3]:
print ("Hello, World")
#is a comment that python will ignore

Hello, World

In [4]:
print("10"+"20")

1020

In [5]:
print(10+20)

30

In [6]:
x=10
type(x)

int

In [8]:
first_name="Sourav"
last_name="Bose"
print(first_name + " " + last_name)

Sourav Bose

In [9]:
x=10
y=20
print(x+y)

30

In [16]:
x=10
y=20
z=x+y
print("the sum of",x,"and",y,"is",z)

the sum of 10 and 20 is 30

In [25]:
#Used an escape character to bypass the single quotes in what's
first_name = input("Hello!! Welcome to Python tutorials, what\'s your first name: ")
last_name = input("Please enter your last name: ")
print("Hello" + " "+first_name + ", It is a pleasure meeting you")

Hello!! Welcome to Python tutorials, what's your first name: Sourav
Please enter your last name: Bose
Hello Sourav, It is a pleasure meeting you

In [20]:
number = input("enter the test number: ")
number = int(number)
number = number+10
print (number)

enter the test number: 25
35

In [27]:
"abc">"ABC"

True

In [39]:
word1 = input("Please enter any word in lower case: ")
word2 = input("Please enter another word again in lower case: ")
if word1 < word2:
    print("The first word" + " " + word1 + " " + "comes before the second word "+word2)
else: 
    print("The second word" + " " + word2 + " " + "comes before the frst word "+word1)

Please enter any word in lower case: Hello
Please enter another word again in lower case: amy
The first word Hello comes before the second word amy

In [49]:
name=input("Please enter your name in your lower case: ")
company = input("Please enter your company in lower case: ")
my_name = "sourav"
my_company = "cisco"
if name == my_name and company == my_company:
    print("Ahh!!! that must be me")
elif name== my_name and company != my_company:
    print("Superb name!! not so much for the company")
elif name!= my_name and company == my_company:
    print(f"Hey {name},you must be my colleague")
else:
    print("Bad name and company")

Please enter your name in your lower case: mark
Please enter your company in lower case: cisco
Hey mark,you must be my colleague

In [60]:
my_n=25
user_n=input("Enter the magic number between 1 and 100: ")
if int(user_n) == my_n:
    print("Congratulations!! you hit bull's eye")
elif int(user_n) < my_n:
    print("Number too low")
elif int(user_n) > my_n:
    print("Number too high")
else:
    print("Not a valid number. You had your chance")

Enter the magic number between 1 and 100: -1
Number too low

In [68]:
text =  input("enter a text: ")
i= input("Enter a number between 1-100: ")
i = int(i)
l = len(text)-1
if i > l:
    print("NUmber too big")
else:
    print(text[i])

enter a text: hello world
Enter a number between 1-100: 4
o

In [71]:
text =  input("enter a text: ")
i= input("Enter a number between 1-100: ")
i = int(i)
if i > len(text)-1:
    print("NUmber too big")
else:
    print(text[i])

enter a text: hello world
Enter a number between 1-100: 10
d

In [74]:
text =  input("enter a text in lower case: ")
if text[0] in 'a':
    print("text"+"way")
else:
    i=0
    for i in len(text):
        print(text[i+1])

enter a text in lower case: ole

TypeError: 'int' object is not iterable