In [4]:
first_name="Sohail"
last_name="Bashir"
print(first_name + " " + last_name)

Sohail Bashir

In [6]:
word_1 = input('What is your first word? ')
word_2 = input('What is your second word? ')

if word_1 < word_2: #if the word_1 comes before word_2 alphabetically
    print(word_1 + ' comes before ' + word_2)
else: #if anything else
    print(word_2 + ' comes before ' + word_1)

What is your first word? chicken
What is your second word? egg
chicken comes before egg

In [7]:
word_1 = input('What is your first word? ')
word_2 = input('What is your second word? ')

if word_1 < word_2: #if the word_1 comes before word_2 alphabetically
    print(word_1 + ' comes before ' + word_2)
else: #if anything else
    print(word_2 + ' comes before ' + word_1)

What is your first word? bannana
What is your second word? apple
apple comes before bannana

In [ ]:
name = 'Sohail'
company_name = 'CSB_&_Co'
word_1 = input ('Enter your name: ')
word_2 = input ( 'Enter your company name: ')
name = input('Enter name: ')
company = input('Enter company: ')

if name == my_name and company == my_company:
    print(f'You must be me!')
elif name == my_name:
    print(f'Great name, but a terrible company.')
elif company == my_company:
    print(f'You must be my colleague, {name}.')
else:
    print(f'Your name and company are both terrible.')

In [ ]:
numner = 27
guess

In [15]:
s = ' whatthehell '

In [16]:
s

' whatthehell '

In [17]:
print (s)

 whatthehell

In [18]:
s = ' Hello out There '

In [19]:
s

' Hello out There '

In [20]:
print (s)

 Hello out There

In [22]:
eng_to_pig_latin = {"computer": "omputercay", "elephant":, "elephantway", "papaya": "apayapay", "octupus":, "octupusway",

SyntaxError: expression expected after dictionary key and ':' (4239361772.py, line 1)